<span class="label">[{{groupInfo.index}}] Poly Group (id: {{groupInfo.id}}, name: {{groupInfo.name}})</span>
<div class="actions">
  <button mat-button (click)="highlight()">Highlight</button>
  <mat-slide-toggle
    [(ngModel)]="groupInfo.annotationsVisible">
    Annotations
  </mat-slide-toggle>
</div>
<ul>
  <li *ngIf="groupInfo.polys.length">
    <span class="label">Polys</span>
    <ul>
      <li *ngFor="let poly of groupInfo.polys">
        <build-poly [polyInfo]="poly"></build-poly>
      </li>
    </ul>
  </li>
  <li *ngIf="groupInfo.subGroups.length">
    <span class="label">Sub Groups</span>
    <ul>
      <li *ngFor="let subGroup of groupInfo.subGroups">
        <build-group [groupInfo]="subGroup"></build-group>
      </li>
    </ul>
  </li>
</ul>
